<!DOCTYPE html>
<html>
<head>
    
    <title>Upload file</title>
    
</head>
<body>
    <form action="http://localhost:3500/upload" method="Post" enctype="multipart/form-data">
    <input type="file" name="file" /> </br>
    <input type="submit" value="upload"/>
    </form>
    <div>
        <img src="<%= typeof file != 'undefined'? file:'' %>" class="img-responsive">
    </div>
    

</body>
</html>